<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Oswald:300"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{{url_for('static', filename='/css/bootstrap.css')}}"
      rel="stylesheet"
    />
    <link href="{{url_for('static', filename="/css/style.css")}}"
    rel="stylesheet"/>
    <script src="{{url_for('static', filename='/js/jquery-3.5.1.min.js')}}"></script>
    <script src="{{url_for('static', filename='/js/bootstrap.js')}}"></script>
  </head>

  <body>
    <header>
      <div class="wrap">
        <nav>
          <ul class="primary">
            <li>
              <a href="{{url_for('home')}}">Home</a>
            </li>

            <li>
              <a href="">Categorias</a>
              <ul class="sub">
                <li><a href="{{url_for('category')}}">Categoria 1</a></li>
                <li><a href="{{url_for('category')}}">Categoria 2</a></li>
                <li><a href="{{url_for('category')}}">Categoria 3</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    {% block body %}{% endblock %}

    <footer class="fixed-bottom page-footer font-small">
      <div class="footer-copyright text-center py-3">
        Breno Cocheto © 2020 Copyright:
      </div>
    </footer>
  </body>
</html>
