{%extends 'base.html'%} {%block body%}
<div class="row">
  <div class="box">
    <h1>{{category.getName()}}</h1>
    <h3>{{category.getDescription()}}</h3>
  </div>
</div>
<div class="row">
  <div style="margin-top: 10%;">
    <div class="box">
      {%for i in movie%}
      <div class="card2">
        <div class="imgBx">
          <a
            href="{{url_for('movie', idCategory = category.getId(), idMovie=movie.getId())}}"
          >
            <img src="/static/movies{{i.getThumb()}}" alt="images" />
          </a>
        </div>
        <div class="details">
          <h2>{{i.getName()}}<br /><span>{{i.getLike}}</span></h2>
        </div>
      </div>
      {%endfor%}
    </div>
  </div>
  {%endblock%}
</div>
