<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Engenharia de Software</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/bootstrap.min.css')}}"
    />
    <script src="{{url_for('static', filename='js/jquery-3.4.1.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{{url_for('home')}}"
        >Engenharia de Software | Universidade de Vassouras</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="{{url_for('home')}}"
            >Home <span class="sr-only">(current)</span></a
          >
          <a class="nav-item nav-link" href="{{url_for('matriz_curricular')}}"
            >Matriz Curricular <span class="sr-only">(current)</span></a
          >
        </div>
      </div>
    </nav>
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Olá, Aluno!</h1>
        <p>
          A Engenharia de Software é uma grande área da computação voltada, mais
          precisamente, para o âmbito do desenvolvimento, gerenciamento e
          manutenção de software. Para isso, o Curso de Engenharia de Software
          da Universidade de Vassouras forma engenheiros de software aptos a
          atuar em todos os processos que envolvem a criação de software. Além
          disso, o profissional também trabalha na criação de aplicativos, jogos
          e outros tipos de ferramentas computacionais. O foco do curso está na
          formação de profissionais inovadores e aptos para empreender criando
          novos modelos de negócios que demandem o uso de software, tais como
          aplicativos móveis, sejam eles na plataforma Android, IOS ou híbridos,
          sites dinâmicos, entre outros. Para isso, conta uma formação ampla e
          com foco em gestão, de maneira que gere oportunidades para o futuro
          profissional empreender criando o seu próprio negócio.
        </p>
        <p>
          <a class="btn btn-primary btn-lg" href="#" role="button"
            >Matriz Curricular &raquo;</a
          >
        </p>
      </div>
    </div>
  </body>
</html>
